*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../images/bg-main-desktop.png');
    height: 80vh;
    background-repeat:no-repeat;
    font-size: 65.5%;
    font-family: 'Space Grotesk', sans-serif;

}
.main{
    margin-top:100px;
    display: flex;
}

#form{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}
.date_cvv{
    display: flex;
}

